<nav class="navbar navbar-expand-lg  menu shadow" *transloco="let t; prefix: 'components.layout.header'">

  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand">
      <img [ngSrc]="'assets/images/logo/angular_logo.png'" alt="logo image" height="50" width="160">
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/home">
          {{ t('home') }}</a>
        </li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" aria-current="page"
                                routerLink="/example">{{ t('example') }}</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown">
            {{ t('language') }}
          </a>
          <ul class="dropdown-menu" *transloco="let t; prefix: 'ENUMS.languages'">
            <li><a class="dropdown-item user-select-none"
                   (click)="switchLanguage(Languages.EN)">{{ t('en') }}</a></li>
            <li><a class="dropdown-item user-select-none"
                   (click)="switchLanguage(Languages.IT)">{{ t('it') }}</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>

</nav>
