<div class="tools-container" *transloco="let t; prefix: 'home.tools'">
  <div class="tools-list">
    <ul>
      <li>
        <a routerLink="/tools/branch-name-generator" routerLinkActive="active">{{ t('branch-name-generator') }}</a>
                <button (click)="selectTool('branch-name-generator')">Tool 1 (Direct)</button>
      </li>
    </ul>
  </div>
  <div class="tool-details">
    <router-outlet></router-outlet>
    <ng-container [ngSwitch]="selectedTool">
      <app-branch-name-generator *ngSwitchCase="'branch-name-generator'"/>
      <!--      <app-branch-name-generator *ngSwitchCase="'branch-name-generator'" />-->
      <p *ngSwitchDefault>Select a tool to view its details.</p>
    </ng-container>
  </div>
</div>
