<div id="home" class="intro-section">
  <div *transloco="let t" class="container">
    <div class="row align-items-center text-white">
      <!-- START THE CONTENT FOR THE INTRO  -->
      <div class="col-md-6 intros text-start">
        <h1 class="display-2">
          <span class="display-2--intro">{{ t('features.home.title') }}</span>
          <span class="display-2--description lh-base">
            {{ t('features.home.description') }}
          </span>
        </h1>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#ffffff" fill-opacity="1"
          d="M0,160L48,176C96,192,192,224,288,208C384,192,480,128,576,133.3C672,139,768,213,864,202.7C960,192,1056,96,1152,74.7C1248,53,1344,107,1392,133.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
  </svg>
</div>

<div class="container text-center mb-5">
  <h1>Technologies Used in the Project</h1>
  <div class="d-flex justify-content-center flex-wrap">
    <div class="tech-icons">
      <i class="fab fa-angular text-danger"></i>
      <p>Angular</p>
    </div>
    <div class="tech-icons">
      <i class="fab fa-bootstrap text-primary"></i>
      <p>Bootstrap</p>
    </div>
    <div class="tech-icons">
      <i class="fab fa-node text-success"></i>
      <p>Node.js</p>
    </div>
    <div class="tech-icons">
      <svg height="50" width="50">
        <image height="50" width="50" href="assets/images/home/eslint-icon.svg"></image>
      </svg>
      <p>ESLint</p>
    </div>
    <div class="tech-icons">
      <svg height="50" width="50">
        <image height="50" width="50" href="assets/images/home/prettier.svg"></image>
      </svg>
      <p>Prettier</p>
    </div>
    <div class="tech-icons">
      <i class="fab fa-github text-dark"></i>
      <p>Husky</p>
    </div>
    <div class="tech-icons">
      <i class="fas fa-vial text-danger"></i>
      <p>Jest</p>
    </div>
    <div class="tech-icons">
      <i class="fas fa-bug text-success"></i>
      <p>Cypress</p>
    </div>
  </div>
</div>
