html {
  height: 100%;

  body {
    font-size: 14px;
    background: white;
    color: black;
    height: 100%;

    .wrapper {
      display: flex;
      align-items: stretch;
      overflow-x: hidden;

      .content {
        width: 100%;
        min-height: 100vh;
        transition: all 0.3s;

        .features {
          min-height: calc(100vh - 112px);
          &.opacity {
            opacity: 0.3;
          }

          .card {
            margin-top: 0;
            border-radius: 0;
          }
        }
      }
    }
  }
}
