<div class="container mt-5">
  <div class="text-center">
    <h1 class="display-4 text-primary">Welcome to the Angular Template</h1>
    <p class="lead text-secondary">This is a simple example page to demonstrate routing in Angular.</p>
  </div>

  <div class="my-4">
    <h2 class="text-info">About This Page</h2>
    <p>This page was created to show how routing works in an Angular application. You can navigate to this page from the home page by clicking on the link provided.</p>
  </div>

  <div class="my-4">
    <h3 class="text-success">Features:</h3>
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary">Easy navigation between pages</li>
      <li class="list-group-item list-group-item-secondary">Seamless user experience</li>
      <li class="list-group-item list-group-item-info">Simple and intuitive design</li>
    </ul>
  </div>

  <div class="my-4">
    <h2 class="text-warning">More Information</h2>
    <p>Angular is a platform for building mobile and desktop web applications. It provides a way to build applications that can scale from small projects to large enterprise solutions.</p>
  </div>

  <div class="my-4">
    <h3 class="text-danger">Useful Links:</h3>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light"><a href="https://angular.io" target="_blank">Angular Official Website</a></li>
      <li class="list-group-item list-group-item-dark"><a href="https://angular.io/docs" target="_blank" class="text-white">Angular Documentation</a></li>
      <li class="list-group-item list-group-item-primary"><a href="https://angular.io/start" target="_blank" class="text-white">Get Started with Angular</a></li>
    </ul>
  </div>

  <p class="text-center text-muted">Thank you for visiting the Angular Template!</p>
</div>
